# The datasets

This is a quick look a the datasets generated in this project.

In [1]:
import jsonlines
from pathlib import Path

import pandas as pd

In [2]:
DATA_DIRECTORY = Path("./data/")  # change as necessary

## The traced data

This is the data which was traced by the tracing code and gathered into tables.

`tactic_instances` includes position data and a unique key for every tactic that was executed and traced (which is not every tactic in the code)

In [3]:
tactic_instances = pd.read_json(
    DATA_DIRECTORY / "raw_traced_data" / "tactic_instances.jsonl",
    orient="records",
    lines=True 
)
tactic_instances

,table,key,executed,filename,trace_pos_line,trace_pos_column,line,column,depth,index,proof,block,parent,prev,succeeded
0,tactic_instances,2001:20:2:1,True,lean/library/init/meta/interactive.lean,2036,1,2001,20,2,1,2037:4:1:1,2001:20:2:1,2037:4:1:1,2037:4:1:1,1.0
1,tactic_instances,2013:4:1:1,True,lean/library/init/meta/interactive.lean,2013,4,2013,4,1,1,2013:4:1:1,2013:4:1:1,0:0:0:0,0:0:0:0,1.0
2,tactic_instances,2016:4:1:1,True,lean/library/init/meta/interactive.lean,2016,4,2016,4,1,1,2016:4:1:1,2016:4:1:1,0:0:0:0,0:0:0:0,1.0
3,tactic_instances,2019:4:1:1,True,lean/library/init/meta/interactive.lean,2019,4,2019,4,1,1,2019:4:1:1,2019:4:1:1,0:0:0:0,0:0:0:0,1.0
4,tactic_instances,2010:4:1:1,True,lean/library/init/meta/interactive.lean,2010,4,2010,4,1,1,2010:4:1:1,2010:4:1:1,0:0:0:0,0:0:0:0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,tactic_instances,55:7:1:1,True,lean/library/init/data/char/classes.lean,55,7,55,7,1,1,55:7:1:1,55:7:1:1,0:0:0:0,0:0:0:0,1.0
2224,tactic_instances,55:16:1:2,True,lean/library/init/data/char/classes.lean,55,16,55,16,1,2,55:7:1:1,55:7:1:1,0:0:0:0,55:7:1:1,1.0
2225,tactic_instances,55:38:1:3,True,lean/library/init/data/char/classes.lean,55,38,55,38,1,3,55:7:1:1,55:7:1:1,0:0:0:0,55:16:1:2,1.0
2226,tactic_instances,130:68:1:1,True,lean/library/init/meta/float.lean,130,68,130,68,1,1,130:68:1:1,130:68:1:1,0:0:0:0,0:0:0:0,1.0
2227,tactic_instances,133:68:1:1,True,lean/library/init/meta/float.lean,133,68,133,68,1,1,133:68:1:1,133:68:1:1,0:0:0:0,0:0:0:0,1.0

`tactic_state.json` includes basic tactic state information both before and after the tactic executes (again, only for recorded tactics which are a subset of all tactics in the code).  This can be added to.

In [4]:
tactic_state = pd.read_json(
    DATA_DIRECTORY / "raw_traced_data" / "tactic_state.jsonl",
    orient="records",
    lines=True 
)
tactic_state

,table,key,tactic_instance,filename,trace_pos_line,trace_pos_column,before_after,env_fingerprint,decl_name,open_namespaces,goal_count
0,tactic_state,2001:20:2:1:before,2001:20:2:1,lean/library/init/meta/interactive.lean,2036,1,before,3.935797e+18,nat.succ.inj_eq,`interactive `expr `tactic `tactic.interactive...,1
1,tactic_state,2001:20:2:1:after,2001:20:2:1,lean/library/init/meta/interactive.lean,2036,1,after,3.935797e+18,nat.succ.inj_eq,`interactive `expr `tactic `tactic.interactive...,1
2,tactic_state,2013:4:1:1:before,2013:4:1:1,lean/library/init/meta/interactive.lean,2013,4,before,3.935797e+18,sum.inr.inj_eq,`interactive `expr `tactic `tactic.interactive...,1
3,tactic_state,2013:4:1:1:after,2013:4:1:1,lean/library/init/meta/interactive.lean,2013,4,after,3.935797e+18,sum.inr.inj_eq,`interactive `expr `tactic `tactic.interactive...,0
4,tactic_state,2016:4:1:1:before,2016:4:1:1,lean/library/init/meta/interactive.lean,2016,4,before,3.935797e+18,psum.inl.inj_eq,`interactive `expr `tactic `tactic.interactive...,1
...,...,...,...,...,...,...,...,...,...,...,...
4450,tactic_state,55:38:1:3:after,55:38:1:3,lean/library/init/data/char/classes.lean,55,38,after,2.065460e+18,char.decidable_is_punctuation,`char,0
4451,tactic_state,130:68:1:1:before,130:68:1:1,lean/library/init/meta/float.lean,130,68,before,5.557396e+18,native.float.decidable_lt,`native.float `native `native.float.specification,1
4452,tactic_state,130:68:1:1:after,130:68:1:1,lean/library/init/meta/float.lean,130,68,after,5.557396e+18,native.float.decidable_lt,`native.float `native `native.float.specification,0
4453,tactic_state,133:68:1:1:before,133:68:1:1,lean/library/init/meta/float.lean,133,68,before,9.627839e+18,native.float.decidable_le,`native.float `native `native.float.specification,1
4454,tactic_state,133:68:1:1:after,133:68:1:1,lean/library/init/meta/float.lean,133,68,after,9.627839e+18,native.float.decidable_le,`native.float `native `native.float.specification,0

`tactic_state_goal.json` includes basic tactic state goal information both before and after the tactic executes.

In [5]:
tactic_state_goal = pd.read_json(
    DATA_DIRECTORY / "raw_traced_data" / "tactic_state_goal.jsonl",
    orient='records',
    lines=True
)
tactic_state_goal

,table,key,tactic_state,filename,trace_pos_line,trace_pos_column,ix,goal_hash,goal_pp
0,tactic_state_goal,2001:20:2:1:before:0,2001:20:2:1:before,lean/library/init/meta/interactive.lean,2036,1,0,1007282764,"n₁ n₂ : ℕ,\nᾰ : n₁ = n₂\n⊢ n₁.succ = n₂.succ"
1,tactic_state_goal,2001:20:2:1:after:0,2001:20:2:1:after,lean/library/init/meta/interactive.lean,2036,1,0,1007282764,"n₁ n₂ : ℕ,\nᾰ : n₁ = n₂\n⊢ n₁.succ = n₂.succ"
2,tactic_state_goal,2013:4:1:1:before:0,2013:4:1:1:before,lean/library/init/meta/interactive.lean,2013,4,0,915601722,"α : Type u,\nβ : Type v,\nb₁ b₂ : β\n⊢ sum.inr..."
3,tactic_state_goal,2013:4:1:1:after:0,2013:4:1:1:after,lean/library/init/meta/interactive.lean,2013,4,0,0,
4,tactic_state_goal,2016:4:1:1:before:0,2016:4:1:1:before,lean/library/init/meta/interactive.lean,2016,4,0,1068360152,"α : Sort u,\nβ : Sort v,\na₁ a₂ : α\n⊢ psum.in..."
...,...,...,...,...,...,...,...,...,...
4450,tactic_state_goal,55:38:1:3:after:0,55:38:1:3:after,lean/library/init/data/char/classes.lean,55,38,0,0,
4451,tactic_state_goal,130:68:1:1:before:0,130:68:1:1:before,lean/library/init/meta/float.lean,130,68,0,1831301430,decidable_lt : decidable_rel has_lt.lt\n⊢ deci...
4452,tactic_state_goal,130:68:1:1:after:0,130:68:1:1:after,lean/library/init/meta/float.lean,130,68,0,0,
4453,tactic_state_goal,133:68:1:1:before:0,133:68:1:1:before,lean/library/init/meta/float.lean,133,68,0,1773001608,decidable_le : decidable_rel has_le.le\n⊢ deci...
4454,tactic_state_goal,133:68:1:1:after:0,133:68:1:1:after,lean/library/init/meta/float.lean,133,68,0,0,

`tactic_param_pos` includes position data for every *interactive* tactic parameter.  There are some parameters which are not included since they don't go through the parser.

In [6]:
tactic_param_pos = pd.read_json(
    DATA_DIRECTORY / "raw_traced_data" / "tactic_param_pos.jsonl", 
    orient='records',
    lines=True
)
tactic_param_pos

,table,key,line,filename,trace_pos_line,trace_pos_column,column,end_line,end_column
0,tactic_param_pos,1985:9,1985,lean/library/init/meta/interactive.lean,1983,6,9,1985,9
1,tactic_param_pos,1998:9,1998,lean/library/init/meta/interactive.lean,1983,6,9,1998,23
2,tactic_param_pos,1999:9,1999,lean/library/init/meta/interactive.lean,1983,6,9,1999,25
3,tactic_param_pos,2001:11,2001,lean/library/init/meta/interactive.lean,1983,6,11,2001,12
4,tactic_param_pos,2001:18,2001,lean/library/init/meta/interactive.lean,1983,6,18,2001,43
...,...,...,...,...,...,...,...,...,...
2507,tactic_param_pos,52:22,52,lean/library/init/data/char/classes.lean,51,1,22,52,33
2508,tactic_param_pos,52:33,52,lean/library/init/data/char/classes.lean,51,1,33,52,33
2509,tactic_param_pos,55:13,55,lean/library/init/data/char/classes.lean,54,1,13,55,14
2510,tactic_param_pos,55:22,55,lean/library/init/data/char/classes.lean,54,1,22,55,36
2511,tactic_param_pos,55:36,55,lean/library/init/data/char/classes.lean,54,1,36,55,36

`tactic_param_value` includes a pretty printed version of the value passed to the tactic argument.  This is not necessarily how it appears in the lean code, but it is how Lean internally receives the data.  A user code add more tracing code to present this in more ways.

In [7]:
tactic_param_value = pd.read_json(
    DATA_DIRECTORY / "raw_traced_data" / "tactic_param_value.jsonl",
    orient='records',
    lines=True
)
tactic_param_value

,table,key,reflected_expr_pp,filename,trace_pos_line,trace_pos_column
0,tactic_param_value,1985:9,list.nil,lean/library/init/meta/interactive.lean,1983,6
1,tactic_param_value,1998:9,``(_root_.propext),lean/library/init/meta/interactive.lean,1983,6
2,tactic_param_value,1999:9,``(_root_.iff.intro),lean/library/init/meta/interactive.lean,1983,6
3,tactic_param_value,2001:11,"some (name.mk_string ""_"" name.anonymous)",lean/library/init/meta/interactive.lean,1983,6
4,tactic_param_value,2001:34,some (),lean/library/init/meta/interactive.lean,1983,6
...,...,...,...,...,...,...
2507,tactic_param_value,52:22,"[name.mk_string ""is_alphanum"" name.anonymous]",lean/library/init/data/char/classes.lean,51,1
2508,tactic_param_value,52:33,interactive.loc.ns [none],lean/library/init/data/char/classes.lean,51,1
2509,tactic_param_value,55:13,"some (name.mk_string ""c"" name.anonymous)",lean/library/init/data/char/classes.lean,54,1
2510,tactic_param_value,55:22,"[name.mk_string ""is_punctuation"" name.anonymous]",lean/library/init/data/char/classes.lean,54,1
2511,tactic_param_value,55:36,interactive.loc.ns [none],lean/library/init/data/char/classes.lean,54,1

## Extracted Proof Data

`proof_trees.json` is a list of abstract syntax trees for each proof.  It doesn't contain much data itself, but has keys to rows in the following tables.  (Unlike the other datasets, this is not a 2D table.)

In [8]:
with jsonlines.open(DATA_DIRECTORY / "extracted_proof_data" / "proof_trees.jsonl") as f:
    proof_trees = list(f)
proof_trees[0]

{'key': 'lean/library/init/data/array/slice.lean:20:7',
 'node_type': 'proof',
 'node_subtype': 'by',
 'tactic': {'key': 'lean/library/init/data/array/slice.lean:20:10',
  'node_type': 'tactic',
  'node_subtype': 'named',
  'args': [{'key': 'lean/library/init/data/array/slice.lean:20:14',
    'node_type': 'tactic_arg',
    'node_subtype': 'expression'}]}}

`proofs.json` contains the Lean human-written text for all tactic proofs along with some other extracted information.

In [9]:
proofs = pd.read_json(
    DATA_DIRECTORY / "extracted_proof_data" / "proofs.jsonl",
    orient="records",
    lines=True
)
proofs

,key,filename,start_line,start_column,end_line,end_column,code_string,class,parent_key,parent_type,index,line,column,first_tactic_key
0,lean/library/init/data/array/slice.lean:20:7,lean/library/init/data/array/slice.lean,20,7,20,14,by simp,by,,,0,20,7,lean/library/init/data/array/slice.lean:20:10
1,lean/library/init/data/array/slice.lean:26:44,lean/library/init/data/array/slice.lean,26,44,27,14,by rw nat.sub_add_cancel; assumption,by,,,0,26,44,lean/library/init/data/array/slice.lean:26:68
2,lean/library/init/data/array/slice.lean:30:7,lean/library/init/data/array/slice.lean,30,7,30,34,"by simp [*, sub_sub_cancel]",by,,,0,30,7,lean/library/init/data/array/slice.lean:30:10
3,lean/library/init/data/array/slice.lean:34:3,lean/library/init/data/array/slice.lean,34,3,34,76,"begin apply nat.sub_lt_of_pos_le, apply nat.ze...",begin,,,0,34,3,lean/library/init/data/array/slice.lean:34:9
4,lean/library/init/algebra/functions.lean:33:1,lean/library/init/algebra/functions.lean,33,1,35,1,by min_tac a b,by,,,0,33,1,lean/library/init/algebra/functions.lean:33:4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,lean/library/init/data/nat/lemmas.lean:1278:23,lean/library/init/data/nat/lemmas.lean,1278,23,1278,90,"by rw nat.mul_assoc at H1; exact ⟨_, eq_of_mul...",by,,,0,1278,23,lean/library/init/data/nat/lemmas.lean:1278:48
623,lean/library/init/data/nat/lemmas.lean:1281:1,lean/library/init/data/nat/lemmas.lean,1281,1,1285,1,"by rw [nat.mul_comm m k, nat.mul_comm n k] at ...",by,,,0,1281,1,lean/library/init/data/nat/lemmas.lean:1281:48
624,lean/library/init/data/nat/lemmas.lean:1286:1,lean/library/init/data/nat/lemmas.lean,1286,1,1292,1,"begin by_cases hba : b ≤ a, { simp [le_antisym...",begin,,,0,1286,1,lean/library/init/data/nat/lemmas.lean:1287:3
625,lean/library/init/data/nat/lemmas.lean:1293:1,lean/library/init/data/nat/lemmas.lean,1293,1,1299,1,"begin by_cases hba : b ≤ a, { simp [le_antisym...",begin,,,0,1293,1,lean/library/init/data/nat/lemmas.lean:1294:3
626,lean/library/init/data/nat/lemmas.lean:1317:1,lean/library/init/data/nat/lemmas.lean,1317,1,1327,1,"begin intros h₁ h₂, have m_pos : 0 < m, { appl...",begin,,,0,1317,1,lean/library/init/data/nat/lemmas.lean:1318:3

`tactics.json` contains the Lean human-written text for all tactic commands along with some other extracted information.

In [10]:
tactics = pd.read_json(
    DATA_DIRECTORY / "extracted_proof_data" / "tactics.jsonl", 
    orient='records',
    lines=True
)
tactics

,key,filename,start_line,start_column,end_line,end_column,code_string,class,parent_key,parent_type,index,line,column,proof_key,trace_key
0,lean/library/init/data/array/slice.lean:20:10,lean/library/init/data/array/slice.lean,20,10,20,14,simp,named,lean/library/init/data/array/slice.lean:20:7,proof,0,20,10,lean/library/init/data/array/slice.lean:20:7,20:10:1
1,lean/library/init/data/array/slice.lean:26:47,lean/library/init/data/array/slice.lean,26,47,26,68,rw nat.sub_add_cancel,named,lean/library/init/data/array/slice.lean:26:68,tactic,0,26,47,lean/library/init/data/array/slice.lean:26:44,26:47:2
2,lean/library/init/data/array/slice.lean:26:70,lean/library/init/data/array/slice.lean,26,70,27,14,assumption,named,lean/library/init/data/array/slice.lean:26:68,tactic,1,26,70,lean/library/init/data/array/slice.lean:26:44,26:70:2
3,lean/library/init/data/array/slice.lean:26:68,lean/library/init/data/array/slice.lean,26,47,27,14,rw nat.sub_add_cancel; assumption,semicolon,lean/library/init/data/array/slice.lean:26:44,proof,0,26,68,lean/library/init/data/array/slice.lean:26:44,26:68:1
4,lean/library/init/data/array/slice.lean:30:10,lean/library/init/data/array/slice.lean,30,10,30,34,"simp [*, sub_sub_cancel]",named,lean/library/init/data/array/slice.lean:30:7,proof,0,30,10,lean/library/init/data/array/slice.lean:30:7,30:10:1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2052,lean/library/init/data/nat/lemmas.lean:1320:3,lean/library/init/data/nat/lemmas.lean,1320,3,1320,27,suffices : 1 * n < m * n,named,lean/library/init/data/nat/lemmas.lean:1317:1,proof,3,1320,3,lean/library/init/data/nat/lemmas.lean:1317:1,1320:3:1
2053,lean/library/init/data/nat/lemmas.lean:1321:5,lean/library/init/data/nat/lemmas.lean,1321,5,1321,43,"rw [nat.one_mul, nat.mul_comm] at this",named,lean/library/init/data/nat/lemmas.lean:1320:29,tactic,0,1321,5,lean/library/init/data/nat/lemmas.lean:1317:1,1321:5:2
2054,lean/library/init/data/nat/lemmas.lean:1322:5,lean/library/init/data/nat/lemmas.lean,1322,5,1323,3,exact iff.mpr (nat.div_lt_iff_lt_mul n n m_pos...,named,lean/library/init/data/nat/lemmas.lean:1320:29,tactic,1,1322,5,lean/library/init/data/nat/lemmas.lean:1317:1,1322:5:2
2055,lean/library/init/data/nat/lemmas.lean:1320:29,lean/library/init/data/nat/lemmas.lean,1320,29,1323,4,"{ rw [nat.one_mul, nat.mul_comm] at this, exac...",solve1,lean/library/init/data/nat/lemmas.lean:1317:1,proof,4,1320,29,lean/library/init/data/nat/lemmas.lean:1317:1,1323:3:1
2056,lean/library/init/data/nat/lemmas.lean:1324:3,lean/library/init/data/nat/lemmas.lean,1324,3,1325,1,exact nat.mul_lt_mul h₂ (le_refl _) h₁,named,lean/library/init/data/nat/lemmas.lean:1317:1,proof,5,1324,3,lean/library/init/data/nat/lemmas.lean:1317:1,1324:3:1

`args.json` contains the Lean human-written text for all tactic arguements along with some other extracted information.

In [11]:
args = pd.read_json(
    DATA_DIRECTORY / "extracted_proof_data" / "args.jsonl", 
    orient="records",
    lines=True
)
args

,key,filename,start_line,start_column,end_line,end_column,code_string,class,parent_key,parent_type,index,line,column
0,lean/library/init/data/array/slice.lean:20:14,lean/library/init/data/array/slice.lean,20,14,20,14,,expression,lean/library/init/data/array/slice.lean:20:10,tactic,0,20,14
1,lean/library/init/data/array/slice.lean:26:50,lean/library/init/data/array/slice.lean,26,50,26,68,nat.sub_add_cancel,expression,lean/library/init/data/array/slice.lean:26:47,tactic,0,26,50
2,lean/library/init/data/array/slice.lean:26:68,lean/library/init/data/array/slice.lean,26,68,26,68,,expression,lean/library/init/data/array/slice.lean:26:47,tactic,1,26,68
3,lean/library/init/data/array/slice.lean:30:15,lean/library/init/data/array/slice.lean,30,15,30,34,"[*, sub_sub_cancel]",expression,lean/library/init/data/array/slice.lean:30:10,tactic,0,30,15
4,lean/library/init/data/array/slice.lean:30:34,lean/library/init/data/array/slice.lean,30,34,30,34,,expression,lean/library/init/data/array/slice.lean:30:10,tactic,1,30,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2481,lean/library/init/data/nat/lemmas.lean:1320:12,lean/library/init/data/nat/lemmas.lean,1320,12,1320,27,: 1 * n < m * n,expression,lean/library/init/data/nat/lemmas.lean:1320:3,tactic,0,1320,12
2482,lean/library/init/data/nat/lemmas.lean:1321:8,lean/library/init/data/nat/lemmas.lean,1321,8,1321,36,"[nat.one_mul, nat.mul_comm]",expression,lean/library/init/data/nat/lemmas.lean:1321:5,tactic,0,1321,8
2483,lean/library/init/data/nat/lemmas.lean:1321:36,lean/library/init/data/nat/lemmas.lean,1321,36,1321,43,at this,expression,lean/library/init/data/nat/lemmas.lean:1321:5,tactic,1,1321,36
2484,lean/library/init/data/nat/lemmas.lean:1322:11,lean/library/init/data/nat/lemmas.lean,1322,11,1323,3,iff.mpr (nat.div_lt_iff_lt_mul n n m_pos) this,expression,lean/library/init/data/nat/lemmas.lean:1322:5,tactic,0,1322,11
2485,lean/library/init/data/nat/lemmas.lean:1324:9,lean/library/init/data/nat/lemmas.lean,1324,9,1325,1,nat.mul_lt_mul h₂ (le_refl _) h₁,expression,lean/library/init/data/nat/lemmas.lean:1324:3,tactic,0,1324,9

## Examples of combining data

Here we combine the above data sources to make a table containing:
* First goals in the goal stack before the tactic is executed
* The human written tactic command
* A little metadata about the type of tactic.  If a "named" tactic, then the tactic name is the first word in the tactic command.

In [44]:
df = tactic_state_goal.copy()
df = df[df['ix'] == 0]
#df['key'] = df['filename'] + ":" + df['key']
df['tactic_state_key'] = df['filename'] + ":" + df['tactic_state']
df = df[['tactic_state_key', 'goal_pp']]
df = df.set_index('tactic_state_key')

df2 = tactic_state.copy()
df2 = df2[df2['before_after'] == 'before']
df2['tactic_state_key'] = df2['filename'] + ":" + df2['key']
df2['tactic_instance_key'] = df2['filename'] + ":" + df2['tactic_instance']
df2['tactic_key'] = df2['tactic_instance_key'].apply(lambda k: ":".join(k.split(":")[:-1]))
df2 = df2[['tactic_state_key', 'tactic_instance_key', 'tactic_key']]
df2 = df2.set_index('tactic_state_key')

df = df.join(df2)
df = df.set_index('tactic_key')
df.head()

df3 = tactics.copy()
df3['tactic_key'] = df3['filename'] + ":" + df3['trace_key']
df3 = df3[['tactic_key', 'code_string', 'class']]
df3 = df3.set_index('tactic_key')
df = df.join(df3)
df = df.reset_index()
df = df[['goal_pp', 'code_string', 'class']]
df = df.rename(columns={'class': 'tactic_class', 'code_string': 'human_tactic_code'})
# some tactics are recorded by the tracing code, but correspond to tactics 
# instances in a `[...] block in, possibly, another file.  They are dropped here.
df = df.dropna()  

goals_and_tactics = df
goals_and_tactics

,goal_pp,human_tactic_code,tactic_class
0,"α : Type u,\n_inst_1 : linear_order α,\na : α\...",min_tac a a,named
1,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",apply eq_max (le_refl _) h,named
2,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",intros,named
3,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",assumption,named
4,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",apply eq.symm,named
...,...,...,...
2224,"a b : ℕ,\nh : 0 < b\n⊢ a + 0 < a + b","{apply nat.add_lt_add_left, assumption}",solve1
2225,"a b : ℕ,\nh : 0 < b\n⊢ a + 0 < a + b",apply nat.add_lt_add_left,named
2226,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < 1 + a",simp [nat.add_comm],named
2227,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < a + 1",assumption,named
2228,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < 1 + a","{simp [nat.add_comm], assumption}",solve1

Each named tactic command can have a number of arguments.  Here we seperate the arguments showing both human supplied argument and the internal representation used by Lean.

In [12]:
df = tactic_param_value.copy()
df['key'] = df['filename'] + ":" + df['key']
df = df.set_index('key')
df = df[['reflected_expr_pp']]

display(df)

df2 = args.copy()
df2 = df2.set_index('key')
df2 = df2.rename(columns={'code_string': 'human_tactic_arg'})
df2 = df2[['parent_key', 'index', 'human_tactic_arg']]
df2

display(df2)

# TODO: These keys aren't unique if one of the parameters is empty 
# It seems to join fine, but I'm confused why

df3 = df2.join(df).reset_index()[['parent_key', 'index', 'human_tactic_arg', 'reflected_expr_pp']]
df3 = df3.set_index('parent_key')
df3 = df3.pivot_table(
    values=['human_tactic_arg', 'reflected_expr_pp'],
    index='parent_key',
    columns='index',
    aggfunc='first'
)

df4 = tactics.copy()
df4 = df4[df4['class'] == "named"]
df4 = df4[['key', 'code_string']]
df4 = df4.rename(columns={'code_string': 'human_tactic_code'})
df4 = df4.set_index('key')

parsed_tactics = df4.join(df3)
parsed_tactics = parsed_tactics.set_index('human_tactic_code')
parsed_tactics.columns = pd.MultiIndex.from_tuples(parsed_tactics.columns)
parsed_tactics

                                                                                reflected_expr_pp
key
lean/library/init/meta/interactive.lean:1985:9                                           list.nil
lean/library/init/meta/interactive.lean:1998:9                                 ``(_root_.propext)
lean/library/init/meta/interactive.lean:1999:9                               ``(_root_.iff.intro)
lean/library/init/meta/interactive.lean:2001:11          some (name.mk_string "_" name.anonymous)
lean/library/init/meta/interactive.lean:2001:34                                           some ()
...                                                                                           ...
lean/library/init/data/char/classes.lean:52:22      [name.mk_string "is_alphanum" name.anonymous]
lean/library/init/data/char/classes.lean:52:33                          interactive.loc.ns [none]
lean/library/init/data/char/classes.lean:55:13           some (name.mk_string "c" name.anonymous)
lean/library/init/data/char/classes.lean:55:22   [name.mk_string "is_punctuation" name.anonymous]
lean/library/init/data/char/classes.lean:55:36                          interactive.loc.ns [none]

[2512 rows x 1 columns]

,parent_key,index,human_tactic_arg
key,,,
lean/library/init/data/array/slice.lean:20:14,lean/library/init/data/array/slice.lean:20:10,0,
lean/library/init/data/array/slice.lean:26:50,lean/library/init/data/array/slice.lean:26:47,0,nat.sub_add_cancel
lean/library/init/data/array/slice.lean:26:68,lean/library/init/data/array/slice.lean:26:47,1,
lean/library/init/data/array/slice.lean:30:15,lean/library/init/data/array/slice.lean:30:10,0,"[*, sub_sub_cancel]"
lean/library/init/data/array/slice.lean:30:34,lean/library/init/data/array/slice.lean:30:10,1,
...,...,...,...
lean/library/init/data/nat/lemmas.lean:1320:12,lean/library/init/data/nat/lemmas.lean:1320:3,0,: 1 * n < m * n
lean/library/init/data/nat/lemmas.lean:1321:8,lean/library/init/data/nat/lemmas.lean:1321:5,0,"[nat.one_mul, nat.mul_comm]"
lean/library/init/data/nat/lemmas.lean:1321:36,lean/library/init/data/nat/lemmas.lean:1321:5,1,at this
lean/library/init/data/nat/lemmas.lean:1322:11,lean/library/init/data/nat/lemmas.lean:1322:5,0,iff.mpr (nat.div_lt_iff_lt_mul n n m_pos) this
lean/library/init/data/nat/lemmas.lean:1324:9,lean/library/init/data/nat/lemmas.lean:1324:3,0,nat.mul_lt_mul h₂ (le_refl _) h₁

/Users/jasonrute/Development/lean/lean_proof_recording/venv/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

                                human_tactic_arg                 \
                                               0    1    2    3
human_tactic_code
min_tac a a                                    a    a  NaN  NaN
apply eq_max (le_refl _) h  eq_max (le_refl _) h  NaN  NaN  NaN
intros                                            NaN  NaN  NaN
assumption                                   NaN  NaN  NaN  NaN
apply eq.symm                            eq.symm  NaN  NaN  NaN
...                                          ...  ...  ...  ...
apply_instance                               NaN  NaN  NaN  NaN
assumption                                   NaN  NaN  NaN  NaN
apply nat.add_lt_add_left    nat.add_lt_add_left  NaN  NaN  NaN
simp [nat.add_comm]               [nat.add_comm]       NaN  NaN
assumption                                   NaN  NaN  NaN  NaN

                                                       reflected_expr_pp  \
                                                                       0
human_tactic_code
min_tac a a                                                        ``(a)
apply eq_max (le_refl _) h                      ``(eq_max (le_refl _) h)
intros                                                          list.nil
assumption                                                           NaN
apply eq.symm                                                ``(eq.symm)
...                                                                  ...
apply_instance                                                       NaN
assumption                                                           NaN
apply nat.add_lt_add_left                        ``(nat.add_lt_add_left)
simp [nat.add_comm]         [tactic.simp_arg_type.expr ``(nat.add_comm)]
assumption                                                           NaN


                                                    1    2    3
human_tactic_code
min_tac a a                                     ``(a)  NaN  NaN
apply eq_max (le_refl _) h                        NaN  NaN  NaN
intros                                            NaN  NaN  NaN
assumption                                        NaN  NaN  NaN
apply eq.symm                                     NaN  NaN  NaN
...                                               ...  ...  ...
apply_instance                                    NaN  NaN  NaN
assumption                                        NaN  NaN  NaN
apply nat.add_lt_add_left                         NaN  NaN  NaN
simp [nat.add_comm]         interactive.loc.ns [none]  NaN  NaN
assumption                                        NaN  NaN  NaN

[1617 rows x 8 columns]

## Training data

Below are examples of the extacted and cleaned data used to train Lean GPT-f.

This is a combined CSV of the training data and metadata.  Note, that the train-valid-test split is deterministic based on a hash of the declaration name.  This makes it simple to combine this data with data from other sources.

In [49]:
data_and_metadata = pd.read_csv(DATA_DIRECTORY / "cleaned_training_data" / "data_and_metadata.csv")
data_and_metadata

,Unnamed: 0,goal_pp,decl_name,open_namespaces,filename,line,column,proof_key,human_tactic_code,tactic_class,cleaned_goal,split
0,0,"α : Type u,\n_inst_1 : linear_order α,\na : α\...",max_self,tactic decidable,lean/library/init/algebra/functions.lean,101,4,lean/library/init/algebra/functions.lean:101:1,min_tac a a,named,"α : Type u,\t_inst_1 : linear_order α,\ta : α\...",train
1,1,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",max_eq_left,tactic decidable,lean/library/init/algebra/functions.lean,104,22,lean/library/init/algebra/functions.lean:104:1,apply eq_max (le_refl _) h,named,"α : Type u,\t_inst_1 : linear_order α,\ta b : ...",train
2,2,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",max_eq_left,tactic decidable,lean/library/init/algebra/functions.lean,104,50,lean/library/init/algebra/functions.lean:104:1,intros,named,"α : Type u,\t_inst_1 : linear_order α,\ta b : ...",train
3,3,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",max_eq_left,tactic decidable,lean/library/init/algebra/functions.lean,104,58,lean/library/init/algebra/functions.lean:104:1,assumption,named,"α : Type u,\t_inst_1 : linear_order α,\ta b : ...",train
4,4,"α : Type u,\n_inst_1 : linear_order α,\na b : ...",max_eq_left,tactic decidable,lean/library/init/algebra/functions.lean,104,7,lean/library/init/algebra/functions.lean:104:1,apply eq.symm,named,"α : Type u,\t_inst_1 : linear_order α,\ta b : ...",train
...,...,...,...,...,...,...,...,...,...,...,...,...
2222,2222,"a b : ℕ,\nh : 0 < b\n⊢ a + 0 < a + b",nat.lt_add_of_zero_lt_left,NaN,lean/library/init/meta/well_founded_tactics.lean,13,4,lean/library/init/meta/well_founded_tactics.le...,"{apply nat.add_lt_add_left, assumption}",solve1,"a b : ℕ,\th : 0 < b\t⊢ a + 0 < a + b",train
2223,2223,"a b : ℕ,\nh : 0 < b\n⊢ a + 0 < a + b",nat.lt_add_of_zero_lt_left,NaN,lean/library/init/meta/well_founded_tactics.lean,13,5,lean/library/init/meta/well_founded_tactics.le...,apply nat.add_lt_add_left,named,"a b : ℕ,\th : 0 < b\t⊢ a + 0 < a + b",train
2224,2224,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < 1 + a",nat.zero_lt_one_add,NaN,lean/library/init/meta/well_founded_tactics.lean,17,25,lean/library/init/meta/well_founded_tactics.le...,simp [nat.add_comm],named,"a : ℕ,\tthis : 0 < a + 1\t⊢ 0 < 1 + a",train
2225,2225,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < a + 1",nat.zero_lt_one_add,NaN,lean/library/init/meta/well_founded_tactics.lean,17,46,lean/library/init/meta/well_founded_tactics.le...,assumption,named,"a : ℕ,\tthis : 0 < a + 1\t⊢ 0 < a + 1",train
2226,2226,"a : ℕ,\nthis : 0 < a + 1\n⊢ 0 < 1 + a",nat.zero_lt_one_add,NaN,lean/library/init/meta/well_founded_tactics.lean,17,24,lean/library/init/meta/well_founded_tactics.le...,"{simp [nat.add_comm], assumption}",solve1,"a : ℕ,\tthis : 0 < a + 1\t⊢ 0 < 1 + a",train

For each of train, valid, and test there are seperate files:

`train.src` is the source (input) data for training (one training example per line).

In [63]:
with (DATA_DIRECTORY / "cleaned_training_data" / "train.src").open() as f:
    train_src = list(f)
train_src[:10]

['α : Type u,\t_inst_1 : linear_order α,\ta : α\t⊢ max a a = a\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b : α,\th : b ≤ a\t⊢ a = max a b\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b : α,\th : b ≤ a\t⊢ ∀ {d : α}, a ≤ d → b ≤ d → a ≤ d\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b : α,\th : b ≤ a,\td : α,\tᾰ : a ≤ d,\tᾰ_1 : b ≤ d\t⊢ a ≤ d\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b : α,\th : b ≤ a\t⊢ max a b = a\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b c : α,\th₁ : a < b,\th₂ : a < c,\th : b ≤ c\t⊢ a < min b c\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b c : α,\th₁ : a < b,\th₂ : a < c,\th : b > c\t⊢ a < min b c\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b c : α,\th₁ : a < c,\th₂ : b < c,\th : a ≤ b\t⊢ max a b < c\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b c : α,\th₁ : a < c,\th₂ : b < c,\th : a > b\t⊢ max a b < c\n',
 'α : Type u,\t_inst_1 : linear_order α,\ta b : α\t⊢ min a b ≤ a\n']

`train.tgt` is the target (output) data for training (one training example per line).

In [64]:
with (DATA_DIRECTORY / "cleaned_training_data" / "train.tgt").open() as f:
    train_tgt = list(f)
train_tgt[:10]

['min_tac a a\n',
 'apply eq_max (le_refl _) h\n',
 'intros\n',
 'assumption\n',
 'apply eq.symm\n',
 'min_tac b c\n',
 'min_tac b c\n',
 'min_tac b a\n',
 'min_tac b a\n',
 'min_tac a b\n']

`train.names` includes all declaration (theorem) names used for splitting the data.

In [69]:
with (DATA_DIRECTORY / "cleaned_training_data" / "train.names").open() as f:
    train_names = list(f)
train_names[-10:]

['psigma.mk.inj_eq interactive expr tactic tactic.interactive.case_tag.match_result native lean lean.parser interactive.types\n',
 'subtype.mk.inj_eq interactive expr tactic tactic.interactive.case_tag.match_result native lean lean.parser interactive.types\n',
 'option.some.inj_eq interactive expr tactic tactic.interactive.case_tag.match_result native lean lean.parser interactive.types\n',
 'list.cons.inj_eq interactive expr tactic tactic.interactive.case_tag.match_result native lean lean.parser interactive.types\n',
 'nat.succ.inj_eq interactive expr tactic tactic.interactive.case_tag.match_result native lean lean.parser interactive.types\n',
 'tactic.binder_info.has_decidable_eq tactic expr list environment\n',
 'smt_tactic.alternative \n',
 'smt_tactic.monad_state \n',
 'nat.lt_add_of_zero_lt_left \n',
 'nat.zero_lt_one_add \n']

`train.index` contains identifiers for each datapoint (based on the source and declaration name).  _Warning: These identifiers may not be unique._

In [62]:
with (DATA_DIRECTORY / "cleaned_training_data" / "train.index").open() as f:
    train_index = list(f)
train_index[:10]

['{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta : \\u03b1\\t\\u22a2 max a a = a", "decl_nm": "max_self"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b : \\u03b1,\\th : b \\u2264 a\\t\\u22a2 a = max a b", "decl_nm": "max_eq_left"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b : \\u03b1,\\th : b \\u2264 a\\t\\u22a2 \\u2200 {d : \\u03b1}, a \\u2264 d \\u2192 b \\u2264 d \\u2192 a \\u2264 d", "decl_nm": "max_eq_left"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b : \\u03b1,\\th : b \\u2264 a,\\td : \\u03b1,\\t\\u1fb0 : a \\u2264 d,\\t\\u1fb0_1 : b \\u2264 d\\t\\u22a2 a \\u2264 d", "decl_nm": "max_eq_left"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b : \\u03b1,\\th : b \\u2264 a\\t\\u22a2 max a b = a", "decl_nm": "max_eq_left"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b c : \\u03b1,\\th\\u2081 : a < b,\\th\\u2082 : a < c,\\th : b \\u2264 c\\t\\u22a2 a < min b c", "decl_nm": "lt_min"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b c : \\u03b1,\\th\\u2081 : a < b,\\th\\u2082 : a < c,\\th : b > c\\t\\u22a2 a < min b c", "decl_nm": "lt_min"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b c : \\u03b1,\\th\\u2081 : a < c,\\th\\u2082 : b < c,\\th : a \\u2264 b\\t\\u22a2 max a b < c", "decl_nm": "max_lt"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b c : \\u03b1,\\th\\u2081 : a < c,\\th\\u2082 : b < c,\\th : a > b\\t\\u22a2 max a b < c", "decl_nm": "max_lt"}\n',
 '{"src": "\\u03b1 : Type u,\\t_inst_1 : linear_order \\u03b1,\\ta b : \\u03b1\\t\\u22a2 min a b \\u2264 a", "decl_nm": "min_le_left"}\n']